<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>テストページ</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"></link>
</head>
<body>
  <div class="login_input_area">
    <input type="text" id="login_id" placeholder="ログインIDを入力してください" />
    <input type="text" id="login_pass" placeholder="ログインPassを入力してください" />
    <button id="btn_login">ログイン</button>  
  </div>
</body>
</html>
